body
{
    background-color:#FFFFFF;
    font-family: 'Merienda', cursive;
    font-size: 18px;
    color: #ff3333;

}

#t
{
    display: table-cell;
    vertical-align:middle;
    text-align: center;
    height:40px;

}
#iconmenu
{
height:40px;
background-color: #6666ff;
margin-bottom:1px;
padding:5px;
text-align:right;
}

.icon
{
height:38px;
padding-right=20px;
float:right;
margin-right:10px;
margin-top:auto;
margin-bottom:auto;
}

#timer
{
float:right;
color:#FFFFFF;
display: table-cell;
vertical-align:middle;
text-align: center;
width:180px;
}

#header
{
    background-color: #FFFFFF;
    min-height:200x;
    font-size:50px;
    color: #FFFFFF;
    border: 1px solid #ccccff;

}

#logo
{
    margin-top:15px;
    border-right: 1px solid #ccccff;
    height:250px;

}
#webname
{
    height:250px;
    width:650px;


}

#upmenu
{
height:40px;
background:#6666ff;
border-top: 1px solid #ccccff;
border-bottom: 1px solid #ccccff;
}
.upmenuitem
{
    border-right: 1px dotted #ccccff;
    float:left;
    min-width:80px;
    padding:5px;
    text-align:center;
    height:30px;
    color:#ffffcc;
    padding-left:10px;
    padding-right:10px;
}

.upmenuitem:hover
{
    background-color:#ff3333;
    color:#ffffcc;
    cursor:pointer;
}



#container
{
    margin-left:auto;
    margin-right:auto;
    width: 1000px;
}

#left
{
    float:left;
    width:22%;
    border: 1px solid #ccccff;
    min-height:95%;
    margin-top:10px;
    margin-bottom:10px;
    align-content:center;
    padding:5px;
}

#main
{

    float:left;
    width:50.35%;
    border: 1px solid #ccccff;
    min-height:95%;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    padding:5px;
}

#right
{
    float:left;
    width:22%;
    border: 1px solid #ccccff;
    min-height:95%;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    align-content:center;
    padding:5px;
}

.box
{
min-height:50px;
border-bottom: 1px dotted #ccccff;
}

#footer
{
    background:#ffff99;
    height:30px;
    padding:5px;
    text-align:center;
    margin-top:5px;
}

#content
{
    height:500px;
    margin:1px;
}
